*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.pai{
    position: relative;
    
}

.barra-navegacao{
   
    background-color: rgb(5, 17, 22);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}


