*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.pai{
    position: relative;
    
}

.barra-navegacao{
   
    background-color: rgb(5, 17, 22);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo{
    font-size: 20px;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(218, 218, 218);
    font-family:"Times New Roman", Times, serif;
}

.img-titulo{
    width: 50px;
    height: 50px;
    margin: 5px;
    
}

.barra-pesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 0 auto;
    }

.pesquisa{
    border-radius: 15px;
    padding: 2px;
    border: 2px solid rgb(117, 117, 117); 
}

.btn-buscar{
    border-radius: 15px;
    padding: 2px;
    border: 2px solid rgb(117, 117, 117); 
    background-color: rgb(117, 117, 117);
    color: white;
}

#menu-hamburguer{  
    display: none;
}

.barra-menu{
  width: 20%;
  height: 100%;
  background-color: rgb(5, 17, 22);
  position: fixed;
  top: 0;
  right: -100%;
  transition: transform 1s ;
  overflow: hidden; 
  z-index: 1;

  
}

.barra-menu ul {
  list-style: none;
  padding: 20px;
  text-decoration: none;
  color: white;
}

.barra-menu li {
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/*.espaco_li{
    display: flex;
   padding-bottom: 35px
}*/

 #meuLaele{
  text-decoration: none;
  color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 6px 5px;
    border-radius: 5px;
    cursor: pointer;
  
}

#meuLaelee{
  text-decoration: none;
  color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 6px 5px;
    border-radius: 5px;
    cursor: pointer;
  
}

.hamburguer-btn{
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2;
}
.hamburguer-btn span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: white;
  margin-bottom: 5px;
  transition: transform 0.3s ease;
}

#menu-hamburguer:checked ~ .barra-menu {
  right: 0;
}
#menu-hamburguer:checked ~ .hamburguer-btn span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
#menu-hamburguer:checked ~ .hamburguer-btn span:nth-child(2) {
  opacity: 0;
}

#menu-hamburguer:checked ~ .hamburguer-btn span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.background{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 0px;
  height: 0px;
  z-index: -1000;
  object-fit: cover;
   
}

.vo_carrossel{
    display: auto;
}
.main-carousel{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: #e0e0e0;*/
    overflow: hidden;
}

.container {
    position: relative;
    width: 800px;
    height: 480px;
    background: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
}

.container .slide .item {
    width: 165px;
    height: 250px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}


.slide .item:nth-child(1),
.slide .item:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.slide .item:nth-child(3) {
    left: 50%;
    
}

.slide .item:nth-child(4) {
    left: calc(50% + 210px);
}

.slide .item:nth-child(5) {
    left: calc(50% + 430px);
}

.slide .item:nth-child(n + 6) {
    left: calc(50% + 650px);
    opacity: 0;
}

.item .content {
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}

.slide .item:nth-child(2) .content {
    display: block;
}

.content .name {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

@keyframes animate {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

.button {
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}

.button button {
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;

}

.button button:hover {
    background: #ababab;
    color: #fff;
}

.button button:nth-child(1) {
    margin-right: 20px;
}

@import url("https://fonts.googleapis.com/css2?family=RobotoCondensed:300,400");
@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");
.main-rodape {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.ul-rodape {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
}

ol {
    list-style: none;
    margin: 0 5px;
}

.fa-brands {
    color: #262626;
    font-size: 40px;
    line-height: 80px;
    transition: .5s;
    padding-right: 14px;
}

a {
    width: 210px;
    height: 80px;
    background: #fff;
    text-decoration: none;
    display: block;
    text-align: left;
    padding-left: 20px;
    transform: rotate(-30deg) skew(25deg)
    translate(0, 0);
    box-shadow: -20px 20px 10px #00000080;
}

a span {
   color: #262626;
   padding: 0;
   margin: 0;
   position: absolute;
   top: 30px;
   letter-spacing: 4px;
   transition: .5s;
}

a::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    top: 10px;
    left: -20px;
    transform: rotate(0deg) skewY(-45deg);
}

a:after {
    content: '';
    position: absolute;;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    bottom: -20px;
    left: -10px;
    transform: rotate(0deg) skewX(-45deg);
}

a:hover {
    transform: rotate(-30deg) skew(25deg) 
    translate(20px, -15px);
    box-shadow: -50px 50px 50px #00000080;
}

ol:hover .fa-brands, 
ol:hover span {
    color: #fff;
}

ol:hover:nth-child(1) {
    & a {
        background: #3b5998;

        &::before {
            background: #365492;
        }

        &::after {
            background: #4a69ad;
        }
    }
}

ol:hover:nth-child(2) {
    & a {
        background: #25D366;

        &::before {
            background: #2aa758;
        }

        &::after {
            background: #51d381;
        }
    }
}

ol:hover:nth-child(3) {
    & a {
        background: #24292e;

        &::before {
            background: #24292e;
        }

        &::after {
            background: #343b42;
        }
    }
}

ol:hover:nth-child(4) {
    & a {
        background: #e4405f;

        &::before {
            background: #d81c3f;
        }

        &::after {
            background: #e46880;
        }
    }
}