*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.pai{
    position: relative;
    
}

.barra-navegacao{
   
    background-color: rgb(5, 17, 22);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo{
    font-size: 20px;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(218, 218, 218);
    font-family:"Times New Roman", Times, serif;
}

.img-titulo{
    width: 50px;
    height: 50px;
    margin: 5px;
    
}

.barra-pesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 0 auto;
    }

.pesquisa{
    border-radius: 15px;
    padding: 2px;
    border: 2px solid rgb(117, 117, 117); 
}

.btn-buscar{
    border-radius: 15px;
    padding: 2px;
    border: 2px solid rgb(117, 117, 117); 
    background-color: rgb(117, 117, 117);
    color: white;
}

#menu-hamburguer{  
    display: none;
}

.barra-menu{
  width: 20%;
  height: 100%;
  background-color: rgb(5, 17, 22);
  position: fixed;
  top: 0;
  right: -100%;
  transition: transform 1s ;
  overflow: hidden; 
  z-index: 1;

  
}

.barra-menu ul {
  list-style: none;
  padding: 20px;
  text-decoration: none;
  color: white;
}

.barra-menu li {
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.espaco_li{
    display: flex;
   padding-bottom: 35px
}

 #meuLaele{
  text-decoration: none;
  color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 6px 5px;
    border-radius: 5px;
    cursor: pointer;
  
}

#meuLaelee{
  text-decoration: none;
  color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 6px 5px;
    border-radius: 5px;
    cursor: pointer;
  
}

.hamburguer-btn{
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2;
}
.hamburguer-btn span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: white;
  margin-bottom: 5px;
  transition: transform 0.3s ease;
}

#menu-hamburguer:checked ~ .barra-menu {
  right: 0;
}
#menu-hamburguer:checked ~ .hamburguer-btn span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
#menu-hamburguer:checked ~ .hamburguer-btn span:nth-child(2) {
  opacity: 0;
}

#menu-hamburguer:checked ~ .hamburguer-btn span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}