*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.pai{
    position: relative;
    
}

.barra-navegacao{
   
    background-color: rgb(5, 17, 22);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo{
    font-size: 20px;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(218, 218, 218);
    font-family:"Times New Roman", Times, serif;
}

.img-titulo{
    width: 50px;
    height: 50px;
    margin: 5px;
    
}

.barra-pesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 0 auto;
    }

.pesquisa{
    border-radius: 15px;
    padding: 2px;
    border: 2px solid rgb(117, 117, 117); 
}

.btn-buscar{
    border-radius: 15px;
    padding: 2px;
    border: 2px solid rgb(117, 117, 117); 
    background-color: rgb(117, 117, 117);
    color: white;
}

#menu-hamburguer{  
    display: none;
}

.barra-menu{
  width: 20%;
  height: 100%;
  background-color: rgb(5, 17, 22);
  position: fixed;
  top: 0;
  right: -100%;
  transition: transform 1s ;
  overflow: hidden; 
  z-index: 1;

  
}

.barra-menu ul {
  list-style: none;
  padding: 20px;
  text-decoration: none;
  color: white;
}

.barra-menu li {
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.espaco_li{
    display: flex;
   padding-bottom: 35px
}
