body {
  background-size: cover;
  background-attachment: fixed;
  color: rgb(0, 0, 0);
}

/* colocar as letras com um degrade inicio */
.txtlogo {
    font-size: 2.5rem;
    /* Tamanho do texto */
    font-weight: bold;
    /* Deixa o texto mais espesso para o efeito funcionar melhor */
    text-transform: uppercase;
    /* 1. Define o fundo como um gradiente grande (ex: 400% da largura) */
    background: linear-gradient(to right,
            #ef5350,
            /* Vermelho */
            #f48fb1,
            /* Rosa */
            #7e57c2,
            /* Roxo */
            #2196f3,
            /* Azul */
            #26a69a,
            /* Turquesa */
            #ffeb3b,
            /* Amarelo */
            #ef5350
            /* Volta ao Vermelho */
        );
    background-size: 400% auto;
    /* Torna o gradiente 4x maior que o elemento */

    /* 2. Aplica o texto como uma máscara para o fundo */
    -webkit-background-clip: text;
    /* Efeito específico para navegadores Webkit (Chrome, Safari, Edge) */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* Torna a cor do texto transparente */

    /* 3. Inicia a animação */
    animation: gradient-animation 15s ease infinite;
    /* Nome da animação, duração, easing, loop infinito */
}


/* 4. Define os Keyframes da Animação */
@keyframes gradient-animation {
    0% {
        background-position: 0% center;
        /* Posição inicial do gradiente */
    }

    50% {
        background-position: 100% center;
        /* Move o gradiente para a direita */
    }

    100% {
        background-position: 0% center;
        /* Retorna para a posição inicial */
    }
}

/* colocar as letras com um degrade fim */

.background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 0px;
  height: 0px;
  z-index: -1000;
  object-fit: cover;
}

